*{
    font-family: 'Lora', serif;

}
.App{
    min-height: 100vh;
    max-height: 150%;
    background-image: url("./img/backgroundLA.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 80%;
    background-position-x: 30%;
    background-size: cover;
}

/*--HEADER--*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    width: 50%;
    justify-content: center;
}

.nav-link{
    color:black;
    text-decoration: underline;
    margin: 10px;

} 

.nav-link:hover{
    color:rgba(0, 0, 0, 0.377);
    text-decoration: none;
}

/*--MAIN PAGE--*/


.mainPage-title, .editPage-title, .addPage-title, .detailsPage-title{
    margin: 5px 20px;
    color: rgb(58, 58, 58);
}


.mainPage-bottom {
    height: 200px;
}

.searchBarDiv {
    margin: 5px 20px;
}

.searchBar {
    outline: none;
    border: 0;
    border-bottom: solid 1px black;
    width: 300px;
    font-size: 15px;
    margin-top: 10px;
}

.noMoviesP{
    color: grey;
    font-style: oblique;
    margin-left: 20px;
}

/*--TABLE--*/

table {
    border-collapse: collapse;
    width: 90%;
    margin: 5px 0px 5px 20px ;
  }
  
  th {
    text-align: left;
    padding: 10px 10px 10px 3px;
    font-size: 23px;
  }

  td {
    text-align: left;
    padding: 5px;
    font-size: 18px;
  }
  
  tr:nth-child(even) {
      background-color: #f2f2f2a1;
    }

    b{
        margin-left: 3px;
    }


/*--TABLE ICONS--*/

.fa-info-circle, .fa-pencil-square-o, .fa-trash-o{
    background: linear-gradient(rgb(176, 176, 176), rgb(0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 25px;
}

.fa-info-circle:hover, .fa-pencil-square-o:hover, .fa-trash-o:hover{
    background:darkgrey;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-star{
    color: #ffcc00;
    margin: 0px 5px;
    font-size: 1.4em;
}

/*--FORM--*/

output{
    padding: 5px;
}

output, input[type=submit]{
    text-align: center;
    color: papayawhip;
    border-radius: 3px;
    background-color: #282c34;
}

input[type=submit]{
    outline: none;
    width: 80px;
    height: 40px;
    margin: 10px 100px;
}

input[type=submit]:hover{
    background: rgba(235, 235, 235, 0.048);
    color: #282c34;
    border: solid 1px #282c34;
}

.form-formWrapper, .addPage-formTitle, .editPage-formTitle, .detailsPage-details, .detailsPage-pageTitle{
    margin:20px 0px 5px 20px ;
}

.form-titleAndDirector, .form-description{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

input[type=text] {
    outline: none;
    border:0;
    border-bottom: solid 1px black;
    width: 300px;
    font-size: 15px;
    margin: 5px;
}

textarea{
    width: 300px;
    height: 100px;
    margin: 5px;

}

input[type=range] {
    margin: 10px;
}

label{
    margin: 2px;
    font-weight: bold;
    font-size: 15px;
}

input[value]{
    font-size: 15px;
}

/*--- DETAILS ---*/

.detailsPage-details p{

    width: 200px;
    border-bottom: solid 1px black;
    margin: 5px;
}
